/* 
Kool Store Template
http://www.templatemo.com/preview/templatemo_428_kool_store
*/

/* ==========================================================================
    HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  /*background: #b3d4fc;*/
  /*text-shadow: none;*/
}

::selection {
  /*background: #b3d4fc;*/
 /* text-shadow: none;*/
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.top-header .social-icons ul, .main-nav .list-menu ul, ul.product-buttons, ul.follow-us {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-header .main-menu ul.menu{
  padding: 0;
  margin: 0;
  list-style: block;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
    Forms
   ========================================================================== */
form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="password"] {
  background: #fff;
  border: 1px solid #fff;
  padding: 7px 10px;
  width: 50%;
}


form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="password"]:focus {
  outline: none !important;
}
form .button {
  background: #fff;
  border: 1px solid #fff;
  padding: 7px 20px;
  text-transform: uppercase;
}
form .button:focus, form .button:active {
  outline: none !important;
}
form .button.yellow {
  background: #e7af2a;
  color: #fff;
  border: 1px solid #c89316;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
    Structure & Defaults
   ========================================================================== */
html, body {
  font-size: 100%;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: baseline;
}

body {
  font: 13px/21px "Open Sans", Arial, sans-serif;
  color: #4b4b4b;
  background-color: white;
  overflow-x: hidden;
  font-style: normal;
}

a {
  color: #2a80b9;
  text-decoration: none !important;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
a:hover {
  color: #e84c3d;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Arial, sans-serif;
  color: #2a3f52;
  font-weight: 700;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: .8em;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==========================================================================
    Header Site Styling
   ========================================================================== */
.top-header {
  border-bottom: 1px solid #dddddd;
}
.top-header .top-header-left a {
  border-left: 1px solid #dddddd;
  padding: 10px 15px;
  display: inline-block;
}
.top-header .top-header-left a:last-child {
  border-right: 1px solid #dddddd;
}
.top-header .social-icons {
  float: right;
  text-align: right;
}
.top-header .social-icons ul li {
  float: left;
  border-left: 1px solid #dddddd;
}
.top-header .social-icons ul li:last-child {
  border-right: 1px solid #dddddd;
}
.top-header .social-icons ul li a {
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  display: block;
}

.main-header {
  padding: 5px 35px 5px 35px;
}
.main-header .logo h1 {
  margin: 4px 0 0 0;
  font-size: 3em;
  text-transform: uppercase;
}
.main-header .main-menu {
  text-align: right;
  height: 45px;
  position: relative;
}
.main-header .main-menu ul.menu {
  margin-right: -7px;

  right: 5px;
  z-index: 6;
  background-color: #2a80b9;
  padding: 0 5px;
  height: 45px;
  line-height: 45px;
  /*display: none;*/
  display: block;
  float: right;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
.main-header .main-menu ul.menu li {
  display: inline-block;
}
.main-header .main-menu ul.menu li a {
  color: white;
  text-transform: none;
  margin: 0 15px;
  /*font-size: 16px;*/
}

.main-header .main-menu ul.menu li a:hover {
  color: #bfddf0;
}
.main-header .main-menu a.toggle-menu {
  float: right;
  width: 50px;
  height: 45px;
  display: block;
  text-align: center;
  line-height: 45px;
  background-color: #2d3e50;
  color: white;
  font-size: 24px;
  position: absolute;
  right: 0;
  z-index: 7;
  display:none;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.clientname{
	color:#8EA800;
	 
}

.main-nav {
  background-color: #2a80b9;
  color: white;
}
.main-nav a {
  color: white;
}
.main-nav .list-menu ul li {
  display: inline-block;
  padding: 1px 5px;
  /*border-left: 1px solid #3598db;*/
}
.main-nav .list-menu ul li:last-child {
  /*border-right: 1px solid #3598db;  realizado por marcelo*/
}
.main-nav .list-menu ul li a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
.main-nav .list-menu ul li a:hover {
  color: #dcecf7;
}

.main-nav .list-menu li a:active {
  color: #8EA800;
}
.main-nav .notification {
  text-align: right;
  padding-top: 20px;
}

.menu-ofertas{
	display: inline-block;
}


/* ==========================================================================
    Default Styling
   ========================================================================== */
.content-section {
  margin: 20px 0;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 60px;
  
  
}

.section-title h2 {
  margin-top: 0;
  margin-bottom: 50px;
}

.product-content {
  background-color: white;
  border: 1px solid #dddddd;
}
.product-content h5 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}
.product-content h5 a {
  color: #2a3f52;
}
.product-content h5 a:hover {
  color: #e84c3d;
}
.product-content span {
  color: #2a80b9;
  display: block;
  font-size: 14px;
}
.product-content span.price {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
}

.product-content span.descripcion {
  margin: 0px;
  font-size: 12px;
  
  color: #FFF;
}

.product-content span.vigencia {
  margin: 0px;
  font-size: 12px;
  
  color: #8ea800;
}


.product-content2 {
  background-color: white;
  border: 1px solid #dddddd;
}
.product-content2 h5 {
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
}
.product-content2 h5 a {
  color: #2a3f52;
}
.product-content2 h5 a:hover {
  color: #e84c3d;
}
.product-content2 span {
  color: #2a80b9;
  display: block;
}
.product-content2 span.price {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}

.product-content3 {
  background-color: white;
  border: 1px solid #dddddd;
}
.product-content3 h5 {
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
}
.product-content3 h5 a {
  color: #2a3f52;
}
.product-content3 h5 a:hover {
  color: #e84c3d;
}
.product-content3 span {
  color: #2a80b9;
  display: block;
}
.product-content3 span.price {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}


.product-thumb img {
  width: 100%;
  height: 100%;
  
}

.product-item-1 {
  margin-bottom: 30px;
}
.product-item-1 .product-content {
  border-top: 0;
  padding: 20px 20px 15px 20px;
}
.product-item-1 .product-thumb {
  overflow: hidden;
}

.product-item-2 {
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
}
.product-item-2 .product-thumb {
  float: left;
  width: 100%;
}
.product-item-2 .product-thumb img {
  width: 100%;
  height: 100%;
}
.product-item-2 .product-content {
  float: right;
  border-left: 0;
  padding: 20px;
  overflow: hidden;
}
.product-item-2 .product-content.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.product-item-2 .product-content.overlay a {
  color: #e84c3d;
}
.product-item-2:hover .product-content.overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}

.product-item-3 {
  margin-bottom: 30px;
}
.product-item-3 .product-thumb {
  overflow: hidden;
}
.product-item-3 .product-thumb img {
  width: 100%;
}
.product-item-3 .product-content {
  /* border-top: 0; */
  padding: 20px 20px 0 20px;
}
.product-item-3 .product-content2 {
  /* border-top: 0; */
  padding: 10px 20px 10px 20px;
}

.product-item-3 .product-content3 {
  /* border-top: 0; */
  padding: 0px 30px 20px 30px;
}

.buttons-holder {
  padding-bottom:10px;
  display: block;
   width: 100%;
  height: 100%;
  float: right;
}

.product-item-3 .button-holder  {
  /*width: 45%;*/
  height: 28px;
  text-align: center;
  background-color: #8ea800;
  /*8FA800*//*#e84c3d;*/
  margin: 0 auto;
  display: block;
  margin-top: 20px; 
  margin-bottom:10px;
  margin-right: 5px;
  margin-left: 5px;
  float: right;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
}
.product-item-3 .button-holder a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 26px;
  font-size: 20px;
   padding-right: 5px;
  padding-left: 5px;
}

.button-holder2 {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 26px;
  font-size: 20px;
  outline: none;
  
  height: 28px;
  text-align: center;
  background-color: #8ea800;
  /*8FA800*//*#e84c3d;*/
  margin: 0 auto;
  display: block;
 
  float: right;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
}
 .button-holder2, .button-holder2:focus{border:0;outline:0 none;}
.product-item-3 .button-holder4  {
  width: 45%;
  height: 30px;
  text-align: center;
  background-color: #8ea800;
  /*8FA800*//*#e84c3d;*/
  margin: 0 auto;
  display: block;
  margin-bottom:10px;
  margin-right: 5px;
  margin-left: 5px;
  float: right;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
}
.product-item-3 .button-holder4 a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 26px;
  font-size: 20px;
}
 
 .product-item-3 .button-holder3  {
  width: 100%;
  height: 28px;
  text-align: center;
  background-color: #2A80B9;
  /*8EA800*//*#e84c3d;*/
  margin: 0 auto;
  display: block;
  margin-top: 20px; 
  margin-bottom:0px;
  margin-right: 5px;
  margin-left: 5px;
  float: right;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
   font-size: 18px;
}
.product-item-3 .button-holder3 a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 26px;
  font-size: 18px;
}

.product-item-3 label {
  width: 80px;
  font-weight: normal;
}
.product-item-3 select, .product-item-3 option {
  color: #a3a7aa;
  border: 1px solid #c4c4c4;
}
.product-item-3 select:focus, .product-item-3 option:focus {
  outline: 0;
}

/**/

 .product-item-5 .button-holder3  {
  width: 100%;
  height: 28px;
  text-align: center;
  background-color: #2A80B9;
  /*8EA800*//*#e84c3d;*/
  margin: 0 auto;
  display: block;
   
  margin-bottom:0px;
  margin-right: 5px;
  margin-left: 5px;
  float: right;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
   font-size: 18px;
}
.product-item-5 .button-holder3 a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 26px;
  font-size: 18px;
}

.product-item-5 .product-content {
  /* border-top: 0; */
  padding: 5px 20px 5px 20px;
}

.product-item-5 label {
  width: 80px;
  font-weight: normal;
}
.product-item-5 select, .product-item-5 option {
  color: #a3a7aa;
  border: 1px solid #c4c4c4;
}
.product-item-5 select:focus, .product-item-5 option:focus {
  outline: 0;
}

.product-item-5 .button-holder4  {
  width: 45%;
  height: 26px;
  text-align: center;
  background-color: #8ea800;
  /*8FA800*//*#e84c3d;*/
  margin: 0 auto;
  display: block;
  margin-top: 10px; 
  margin-bottom:10px;
  margin-right: 5px;
  margin-left: 5px;
  float: right;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
}
.product-item-5  .button-holder4 a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 26px;
  font-size: 20px;
}

/**/
.product-item-4 {
  overflow: hidden;
  position: relative;
}
.product-item-4 .product-thumb {
  float: left;
  /*width: 100%;*/
  min-height: 225px; 
z-index:50;
}
.product-item-4 .product-thumb-oferta2 {
   float: left;
  width: 100%;
  margin-top: -215px;
  z-index:100;
    margin-left: 140px;
}

.product-item-4 .product-thumb-oferta3 {
   float: left;
  width: 100%;
  margin-top: -190px;
  z-index:150;
  color: white;
  /*margin-right: 20px;*/
  /*margin-left: 145px;*/
	

  
}
.product-item-4 .oferta_porcentaje {
   float: right;
   font-size: 18px;
   font-weight: bold;
   margin-right: 28px;
   
   }


.product-item-4 .product-thumb-oferta {
   float: left;
   width: 75px;
  margin-top: -225px;
  z-index:100;
}
.product-item-4 .product-thumb .imagenoferta{

  width: 200px;
  
}

.product-item-6 {
  overflow: hidden;
  /*position: relative;*/
    height: 200px;
	 width: 200px;
	 float:left;
	 height: auto;
	 z-index:40;
}
.product-item-6 .product-thumb {
  float: left;
  width: 100%;
   /* height: 200px;
	 width: 200px;*/
	z-index:50;
}
.product-item-6 .product-thumb-oferta2 {
   float: left;
  /*width: 100%;*/
	margin-top: -190px;
	z-index:100;
  margin-left: 120px;
}
.product-item-6 .product-thumb-oferta3 {
   float: left;
  /*width: 100%;*/
  margin-top: -170px;
  z-index:150;
  color: white;
  margin-left: 135px;

 
  
}

.product-item-6 .product-thumb-oferta {
   float: left;
   width: 75px;
  margin-top: -200px;
  z-index:100;
}
.product-item-6 .product-thumb .imagenoferta{
  height: 200px;
  width: 200px;
  
}


.product-item-6 .product-content {
  float: right;
  border-left: 0;
  padding: 10px;
  overflow: hidden;
      min-height: 200px;
	 min-width: 200px;
}
.product-item-6 .product-content.overlay {
  position: absolute;
  width: 200px;
  height: 200px; 
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.product-item-6 .product-content.overlay a {
  color: #e84c3d;
}
.product-item-6:hover .product-content.overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}

.gallery-contenedor{
	width: 100%;
	float:left;
	margin-left:10px;
}
.gallery-oferta {
	
	 height: 210px;
	width: 210px;
	margin: 5px;
	 float:left;
	z-index:30;
}


.oferta_descuento {
   float: right;
   font-size: 28px;
   font-weight: bold;
   
}

.oferta_descuento2{  
  float: right;
  font-size: 28px;
  font-weight: bold;
  /* text-align: right;*/
  
}

.oferta_porcentaje {
   float: right;
   font-size: 18px;
   font-weight: bold;
   margin-right: 15px;
   }
.oferta_porcentaje2 {
   float: right;

  font-size: 18px;
  font-weight: bold;
   margin-right: 5px;
   }
   
   
   
.product-item-4 .product-content {
  float: right;
  border-left: 0;
  padding: 10px;
  overflow: hidden;
}
.product-item-4 .product-content.overlay {
  position: absolute;
  width: 225px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.product-item-4 .product-content.overlay a {
  color: #e84c3d;
}
.product-item-4:hover .product-content.overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}

.product-item {
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  margin-bottom: 30px;
}
.product-item .product-content {
  border: 0;
  margin-top: 20px;
}

.product-item-vote {
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  margin-bottom: 40px;
}
.product-item-vote .product-content {
  border: 0;
  margin-top: 20px;
}
.product-item-vote ul.progess-bars {
  padding: 0 !important;
  margin: 20px 0 0 0;
}
.product-item-vote ul.progess-bars li {
  list-style: none !important;
}
.product-item-vote ul.progess-bars .progress {
  margin-bottom: 10px;
  background: transparent;
  box-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
.product-item-vote ul.progess-bars .progress span {
  margin-left: 7px;
  display: inline-block;
}
.product-item-vote ul.progess-bars .progress span i {
  margin-left: 7px;
  display: inline-block;
}
.product-item-vote ul.progess-bars .progress span.comments {
  color: #e84c3d;
}
.product-item-vote ul.progess-bars .progress-bar {
  box-shadow: none;
}
.product-item-vote ul.progess-bars .progress-bar.comments {
  background-color: #e84c3d;
}

.ads-placemenet {
  overflow: hidden;
}
.ads-placemenet img {
  width: 100%;
}

.product-image {
  overflow: hidden;
}
.product-image img {
  width: 100%;
}

.product-information h2 {
  margin: 20px 0;
}
.product-information .product-infos {
  color: #2a80b9;
  font-size: 18px;
  font-weight: 600;
  margin: 30px 0;
}
.product-information .product-infos span {
  margin-right: 30px;
}

ul.product-buttons li {
  margin-bottom: 15px;
}

.main-btn {
  display: inline-block;
  background-color: #2a80b9;
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: 160px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
.main-btn:hover {
  background-color: #e84c3d;
  color: white;
}

form input[type="text"], 
form input[type="email"], 
form input[type="number"], 
form input[type="password"],
textarea {
  background: #fff;
  border: 1px solid #ddd;
  padding: 11px 15px;
}

.label_user{
	width:180px;
	min-width: 130px;
	max-width: 200px;
}

input#username
{
	/*width: 70%;*/
}

#contactform textarea,
#contactform input {
  width: 100%;
}

#contactform textarea {
  min-height: 140px;
}

#contactform input.mainBtn {
  border: 0;
  outline: 0;
  padding: 12px;
  color: #fff;
  background: #2a80b9;

}

#flotante{
		position: absolute;
		display:none;
		font-family:Arial;
		font-size:0.8em;
		width:400px;
		border:1px solid #808080;
		background-color:#f1f1f1;
		padding:5px;
		z-index: 100;
}
	
	
.referencia div{
	float:left;
	margin-right:10px;
	padding-left:10px;
	margin-bottom:10px;
	padding-bottom:10px;
}

.referencia table{
	padding:15px;
}
.referencia td{
	/*margin-left:10px;*/
	/*padding-right:10px;*/
}
.referencia tr{
	margin-bottom:10px;
	padding-bottom:10px;
}

/* ==========================================================================
    Footer Site Styling
   ========================================================================== */
.site-footer {
  color: white;
  font-size: 13px;
}
.site-footer a {
  color: white;
}
.site-footer a:hover {
  color: #bfddf0;
}
.site-footer h3.widget-title {
  font-weight: 600;
  color: white;
  margin: 0 0 30px 0;
  font-size: 1.4em;
}

.footer-widget {
  margin-bottom: 40px;
}

.our-partner {
  background-color: #2a80b9;
  padding: 15px;
  position: relative;
}
.our-partner .item {
  margin: 0 15px;
  overflow: hidden;
}
.our-partner .item img {
  width: 100%;
}
.our-partner .customNavigation .prev, .our-partner .customNavigation .next {
  position: absolute;
  top: 20%;
  font-size: 24px;
}
.our-partner .customNavigation .prev {
  left: -10px;
}
.our-partner .customNavigation .next {
  right: -10px;
}

.main-footer {
  background-color: #2d3e50;
  padding: 50px 0 0 0;
}
.main-footer ul {
  padding: 0;
  margin: 0;
  list-style: square;
  list-style-position: inside;
}
.main-footer ul li a {
  display: inline-block;
  line-height: 20px;
  margin-bottom: 10px;
}

ul.follow-us {
  margin-top: 30px;
}
ul.follow-us li {
  display: block;
  margin-bottom: 10px;
}
ul.follow-us li a {
  background-color: #2a80b9;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 25px;
  display: inline-block;
  border: 1px solid white;
}
ul.follow-us li a i {
  margin-right: 25px;
}

.newsletter {
  padding: 20px;
  background-color: #2a80b9;
}
.newsletter p {
  margin: 0 0 20px 0;
  font-size: 14px;
  text-align: left;
}
.newsletter input {
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  outline: 0;
  border: 0;
  height: 38px;
  padding: 0 10px;
  width: 64%;
}
.newsletter input[type=submit] {
  width: auto;
  background-color: #2d3e50;
  color: white;
  padding: 0 25px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.bottom-footer {
  background-color: #005490;
  border-top: 1px solid #3598db;
  padding: 20px 0;
  font-size: 12px;
}
.bottom-footer span {
  display: block;
  margin-bottom: 10px;
}
.bottom-footer p {
  width: 70%;
  margin: 0 auto;
}

  
  
/*------------------------------------------------------
	RESPONSIVE STYLES 
--------------------------------------------------------*/
@media (max-width: 991px) {
   ul.menu {
    text-align: right;
    /*background-color: #2d3e50 !important;*/
    
    height: auto !important;
    background-color: red;
    /* right: 60px !important;
/*display: block;
	display: none !important;*/
  }
.clientname{
	 display: none ;
 
}

 /*
  ul.menu li {
    float: none;
    display: block !important;
  }

  .toggle-menu {
    background-color: #2a80b9 !important;
  }
*/
 .col-md-10 {
    width: 96.3333% !important;;
}
  .product-content .full-row {
    margin-top: 20px;
  }
  .product-content select {
    width: 100%;
  }

  .product-content2 .full-row {
    margin-top: 20px;
  }
  .product-content2 select {
    width: 100%;
  }
  
  
  .product-item-2, .product-item-4, .product-item-6 {
    width: 100%;
  }
  .product-item-2 .product-thumb, .product-item-4 .product-thumb,.product-item-6 .product-thumb {
    height: auto;
  }

  .product-item-4 {
    margin-bottom: 30px;
  }
   .product-item-6 {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .top-header {
    border-bottom: 0;
  }
  .main-header .main-menu ul.menu {
		margin-right: -35px;
  }  
/*
  ul.menu {
    min-width: 320px !important;
	display: none !important;;
  }
*/
  .top-header-left {
    border-bottom: 1px solid #dddddd;
  }

  .social-icons {
    width: 100%;
    text-align: center;
    float: none !important;
    border-bottom: 1px solid #dddddd;
  }
  .social-icons ul {
    text-align: center;
  }

  .main-nav .list-menu {
    border-bottom: 1px solid #3598db;
  }
  .main-nav .notification {
    padding: 20px 0;
    text-align: left;
  }

  .product-content select {
    width: 40%;
  }
  .product-content2 select {
    width: 40%;
  }
  
  .product-item-2, .product-item-4,.product-item-6 {
    width: 100%;
  }
  .product-item-4 {
    margin-bottom: 30px;
  }
  .product-item-4 .product-content p {
    display: none;
  }
  .product-item-6 {
    margin-bottom: 30px;
  }
  .product-item-6 .product-content p {
    display: none;
  }
  
  
    .logo{
	   margin-left:-25px;
   }

}
@media (max-width: 581px) {

   .logo{
	   margin-left:-25px;
   }
   .main-header .main-menu ul.menu li.menu_ayuda{
	   display: none; 
   }
   
.main-header .main-menu {

    height: 90px;
    
}
   .main-header .main-menu ul.menu {
    line-height: 30px;

		margin-right: -40px;
		width: 110px;
		 
  }  
/*
  .main-nav .list-menu ul li {
    padding: 20px 15px;
  }
  .main-nav .list-menu ul li a {
    font-size: 14px;
  }
*/
  .product-content select {
    width: 100%;
  }
  .product-content2 select {
    width: 100%;
  }
  
  .product-item-2 .product-content p {
    display: none;
  }
}

.carrito_resumen td{

}

.carrito_importe{
	text-align: right;
	font-weight: bold;
	font-size: 16px;
	width: 50%;
}
.carrito_importe_red{
	text-align: right;
	font-weight: bold;
	font-size: 16px;
	width: 50%;
	color : red;
}


.carrito_importe_red_dark{
	text-align: right;
	font-weight: bold;
	font-size: 15px;

	width: 50%;
	color : #330000;
}

.carrito_descripcion{
	font-size: 15px;
	padding-bottom:5px;
	width: 50%;
}


.carrito_resumen table{
	margin-left:10px;
	width:95%;
}

.carrito_resumen tr{
	height:30px;
	border-bottom-style: solid;
	border-bottom-width:1px;
}

.carrito_resumen  tr:last-child{
	border:none;
}

.carrito_items th{
	border-bottom-style: solid;
	border-bottom-width:1px;
}

.carrito_items{
	min-height:305px;

}

.carrito_items table{
	width:95%;
	margin-left:10px;
	margin-right:5px;
	/*min-height:150px;*/
	max-height:250px;

}
.carrito_items tr:nth-child(even) {background: #ebebeb; color: #000 }
.carrito_items tr:nth-child(odd) {background: #FFF}

.carrito_item_sinoferta{
	background: #FF9600 !important; 
	color: #000;
			
}

.carrito_item_descripcion{
	width:85%;
	font-size: 10px;
	
}

.carrito_item_cantidad{
	width:15%;
}
.carrito_items label{
display:none; 
}

#searchform input.mainBtn {
  border: 0;
  outline: 0;
  padding: 12px;
  color: #fff;
  /*background: #2a80b9;*/
  background: #8EA800;
  margin-left:10px;
}
#searchform input[type="text"]{
  width: 20%;
  float: left;
  min-width: 150px;
}


#searchform select{
  /*width: 25%;*/
  background: #fff;
  
  padding: 10px 10px 8px 8px;
  float: left;
  margin-left: 10px;
}



#searchform label{
  display:none; 
}

#cbarras{
  width:30px;
  height:17px;
  margin-left:5px;
  
}
.main-btn {
  display: inline-block;
  background-color: #2a80b9;
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: 160px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
.main-btn:hover {
  background-color: #e84c3d;
  color: white;
}

#checkbarra{
  border: 1px solid #C4C4C4;
    padding: 5px 5px 0px 5px;
  float: left;
  width:65px;
  height:40px;
  margin: 2px;
}

#searchform input[type="checkbox"]
{
	
}

.form_reclamo_serie_td{
	text-align: center;
	width:110px;
}
.form_reclamo_serie_td label{
  display:none; 
}

.form_reclamo_lote_td{
	text-align: center;
	width:110px;
}
.form_reclamo_lote_td label{
  display:none; 
}

.form_reclamo_fv_td{
	text-align: center;
	width:100px;
}
.form_reclamo_fv_td label{
  display:none; 
}

.form_reclamo_cant_td{
	text-align: center;
	width:50px;
}

.form_reclamo_cant_td label{
  display:none; 
}

.form_reclamo_fv{
   width:70px;
   margin-top:3px;
   margin-bottom:3px;
   /*margin-left:3px;*/  
}

.form_reclamo_serie{
   width:100px;
   margin-top:3px;
   margin-bottom:3px;
   /*margin-left:3px;*/  
}

.form_reclamo_lote{
   width:100px;
   margin-top:3px;
   margin-bottom:3px;
   /*margin-left:3px;*/  
}

.formcartcanttd{
	text-align: center;
	width:50px;
}

.formcartcanttd label{
  display:none; 
}

.formcartcanttrof{
	background: #FF9600;
}


.formcartcant{
   width:35px;
   margin-top:3px;
   margin-bottom:3px;
   /*margin-left:3px;*/
  
}

.formcartcantof{
   width:35px;
   margin-top:3px;
   margin-bottom:3px;
   /*margin-left:3px;*/
  background: #FF9600;
}

.formcarritocant{
   width:30px;
   margin-top:3px;
   margin-bottom:3px;
   margin-left:3px;
  
}



.tablasearch{
	width:100%;
}
.tablasearch td{
     
}

.tablasearch th{
 border: 1px solid #fff;
 text-align: center;
 background: #ebebeb;
}

.tablasearch tr:nth-child(even) {background: #ebebeb; color: #000 }
.tablasearch tr:nth-child(odd) {background: #FFF}

.tablasearch tr{
   height:25px;
   margin-top:3px 
}
.colprecio{
  text-align: right;
  padding-right:5px;
  width:80px;
}

.colcenter{
  text-align: center;
  
}

.colprecio2{
  text-align: right;
  padding-right:5px;
  width:100px;
}

.colstock{
  text-align: center;
  width:50px;
}

.product-thumb{
  border: 1px solid #C4C4C4;
  height:100%;
  padding:10px;
}

.logo img{
  width:190px;
}
.carro_item_precio{
  text-align: right;
  padding-right: 5px;
  width:90px;
}

.carro_item_preciototal{
  text-align: right;
  padding-right: 5px;
  width:90px;
}
.carro_item_precio_th{
  text-align: right;
  padding-right: 5px;
}

.carro_item_preciototal_th{
  text-align: right;
  padding-right: 5px;
}


.carro_item_descripcion{
	
	font-size: 10px;
}

.carro_item_cantidad{
	width:15%;
}


.cliente_info{
	
}

.cliente_info label{
	width:100%;
	/*display:none;*/
	
}

.cliente_info input{
	
	
}

.cliente_info input[type="text"]{
	width: 100%;
	padding:3px;
	
	margin-top:5px;
}

.cliente_info input[type="email"]{
	width: 100%;
	padding:3px;
	
	margin-top:5px;
}

.cliente_info input[type="password"]{
	width: 200px;
	padding:3px;
	
	margin-top:5px;
}

.cliente_info select{
	width: 200px;
	padding:3px;
	
	margin-top:5px;
}

.cliente_info table{
	width: 95%;
}
.cliente_info td{
	height: 20px;
}

.cliente_info tr{
	
	/*height:30px;*/
}

.cliente_info span{
	font-size: 14px;
	/*margin-bottom: 15px;*/
	font-weight: bold;
}

.cliente_info_envio{
	
}

.cliente_info_envio label{
	width:100%;
	
	
}

.cliente_info_envio input{
	
	
}

.cliente_info_envio input[type="text"]{
	width: 100%;
	padding:3px;
	
	margin-top:5px;
}

.cliente_info_envio input[type="email"]{
	width: 100%;
	padding:3px;
	
	margin-top:5px;
}

.cliente_info_envio input[type="password"]{
	width: 200px;
	padding:3px;
	
	margin-top:5px;
}

.cliente_info_envio select{
	width: 200px;
	padding:3px;
	
	margin-top:5px;
}

.cliente_info_envio table{
	width: 95%;
}
.cliente_info_envio td{
	height: 20px;
}

.cliente_info_envio tr{
	
	/*height:30px;*/
}

.cliente_info_envio span{
	font-size: 14px;
	/*margin-bottom: 15px;*/
	font-weight: bold;
}

#enviodomicilio-0, #enviodomicilio-1{
 	
	margin-right:10px;
}

#observaciones{
	width:100%;
	height:68px;
	border: 1px solid #777;
}

.pagination_count{
	
	display: inline;
	height:25px;
}
.pagination_count span{
	padding: 5px 10px 5px 10px;
	display: inline;

	position: relative;
float: left;
border: 1px solid #DDD;
}

div.page_cart {
    text-align: center;
    margin: 1em 0 1em 1em;
	padding-bottom: 5px;
	padding-top: 5px;
}

div.page_cart div {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    border: 1px solid #DDD;
    margin-right: 0.5em;
}

div.page_cart div.active {
    background-color: #428BCA;
	border-color: #428BCA;
	color: #FFF;
}

input.sendbtn {
	color: #FFF;
	display: block;
	width: 100%;
	height: 100%;
	line-height: 26px;
	font-size: 20px;
	border: 0;
	outline: 0;	
	background-color: #8FA800;
	font-family: inherit;
  /* stops bg color from leaking outside the border: */
}


.ctadescripcion{
	/*font-size: 14px;*/
}
.ctadescripcion_item a{
	color: #000 !important;
	font-size: 15px;
}
.ctadescripciontotal{
	font-size: 15px;
	width: 100%;
	 border-top: 1px solid #8FA800;
	 
	  
}
.ctadescripciondiv{
	font-size: 15px;
	width: 100%;
	 /*border-top: 1px solid #8d8d8d;*/
	 
	  
}

/*
#searchform input.mainBtn {
  
  padding: 12px;
  color: #fff;
  background: #2a80b9;
  margin-left:10px;
}*/

input.sendbtn:hover {
  color: white;
}

#th-sub-tabla{
	text-align: center;
	font-size: 11px;
}

.td-sub-tabla{
	text-align: center;
}

#searchform2 input {

}

#searchform2 input[type="text"]{
  width: 20%;
  float: left;
  min-width: 75px;
  max-width:150px;
}

#searchform2 label{
   display: inline;
   float: left;
   margin-left: 10px;
   padding-top:8px;
}

#searchform2 input.mainBtn {
  border: 0;
  outline: 0;
  padding: 12px;
  color: #fff;
  background: #2a80b9;
  margin-left:10px;
  float: left;
}
#searchform3 input[type="file"] {
float: right;
}

#searchform3 input[type="text"]{
  width: 20%;
  float: left;
  min-width: 75px;
  max-width:150px;
  float: left;
}

#searchform3 select{
  /*width: 25%;*/
  background: #fff;
  
  padding: 10px 10px 8px 8px;

  margin-left: 20px;
}

#searchform3 label{
   display: none;
   /*float: left;
   margin-left: 10px;
   padding-top:8px; */
}

#searchform3 input.mainBtn {
  border: 0;
  outline: 0;
  padding: 12px;
  color: #fff;
  background: #2a80b9;
  margin-left:10px;
	float: right; 
}


#searchform4 select{
	
  margin-left:10px;
  background: #fff;
  margin-bottom: 5px;
  
  padding: 10px 10px 8px 8px;
}

#searchform4 input[type="select"]{
	
}

#searchform4 input {
  margin-bottom: 5px;
  margin-left:5px;
  min-width: 75px;
  max-width:140px;
  display: block;
  width:50%;
  /*float: left;*/
}

#searchform4 input[type="text"]{
	display: block;

}
#searchform4 input[type="textarea"]{
	display: block;

}
#searchform4 input[type="checkbox"]{
	display: block;

}

#searchform4 #form_reclamos_tipo_id{
	
	margin-bottom: 15px;
}

.cliente_info input[type="checkbox"]{
	display: block;
	padding-left:5px;
}

#searchform4 label{
   /*display: inline;*/
   float: left;
   margin-left:10px;
   margin-top: 5px;
   width:40%;
   min-width: 120px;
   max-width: 250px;
}

#searchform4 input.mainBtn {
  border: 0;
  outline: 0;
  padding: 12px;
  color: #fff;
  background: #2a80b9;
  margin-left:10px;
margin-top: 5px;
  display: block;
}

#searchform5 input.mainBtn {
  border: 0;
  outline: 0;
  padding: 12px;
  color: #fff;
  /*background: #1893cc;*/
  background: #8EA800;
  margin: 2px;
    min-width: 150px;
}
/*
#searchform label{
  display:none; 
}
*/
#searchform5 input[type="text"]{
  
  float: left;
  min-width: 150px;
 
  
   margin: 2px 2px 0px 2px;
   -webkit-margin-before: 0em;
}

#searchform5 label{
  display:none; 
}


#searchform5 select{
  /*width: 25%;*/
  background: #fff;
  
  padding: 10px 10px 9px 8px;
  float: left;
 margin: 2px;
}



#cbarras{
  width:30px;
  height:17px;
  margin-left:5px;
  
}


#form_observaciones{	
	width:90%;
	margin-left:10px;
	margin-right:5px;
	min-height:100px;
	height:100px;
}


#form_reclamos_tipo_id{
	width:90%;
	margin-left:10px;
	margin-right:5px;
}
/**/
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

#uploadFile{ 
	margin-top:7px;
} 
 
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    float: left;
}

#selectsemanaresumen label
{
	display:none;
	margin-bottom:15px;
	padding-bottom:15px;
}

#selectsemanaresumen 
{
	margin-top:15px;
	margin-bottom:15px;
	padding-bottom:15px;
}

.importconfirm
{
	display: inline-block;
	float: right;
	width:100px;
	height:30px;
	margin-left:10px;
}

.importconfirm2
{
	display: inline-block;
	float: right;/*
	width:200px;
	height:30px;*/
}

#terminobuscar {
	
	border: 1px solid #909090;
	color: #000;}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000;
}

.cartresul
{
	width:100%;
	float:left;
	
}

.cliente_info_class2
{
	
	/*color: #2A80B9;*/
	color: #99999;
	display: block;
	font-size: 16px;
	margin-top:10px;
	
}
.cliente_info_class3
{
	float: left;
	/*color: #2A80B9;*/
	color: #99999;
	display: block;
	font-size: 16px;
	margin-top:10px;
	margin-right:20px;
}
 .tachado{
	text-decoration:line-through;
	color: #99999;
 }
 
#buttonsearch {
	  border: 0;
	  outline: 0;
	  padding: 12px;
	  color: #fff;
	  background: #2a80b9;
	  margin-left:10px;
	  margin-top: 5px;
	  display: block;
	  margin-bottom: 5px;
	  margin-left:5px;
	  min-width: 75px;
	  max-width:140px;

	  width:50%;
}
.product-content-oferta1{
	position:absolute;
	

}
.product-content-oferta2{
	position:absolute;
	margin-top: 150px;
	margin-left: 70px;
}
.product-content-oferta3{
	position:absolute;
	margin-top: 175px;
	margin-left: 90px;
}

.gallery-cell {
  width: 230px;
  height: 220px;
  margin-right: 10px;
}

.flickity-page-dots{
	
	
}

.gallery.js-flickity.flickity-enabled.is-draggable{
	text-align: center;
}

.dot{
	float: left;
	width: 20px;
	display: none;
	margin:0 auto;
}

.flickity-prev-next-button {
	width: 40px;
	height: 40px;
	left: 50%;
	margin:0 auto;
}
.product-item-4
{
	text-align: left;
	
}
.product-item-6
{
	text-align: left;
	
}
#button_descripcion
{
	color:#E84C3D;
	
}

#enviodomicilio-99
{
	margin-right:10px;
}

#farmacia_image{
	/*width: 100%;*/
	max-width: 100%;
	max-height: 90%;
	max-height: 490px;
	/*float : center;*/
	margin: 0 auto;
	margin-bottom:20px;
	text-align: center;
}

.farmacia_img {
	margin: 0 auto;
	
	text-align: center;
}

#novedades{
	
}

#novedades_ico{
	float: right;
	margin-right:6px;
 background-image: url('../img/novedades.png');
margin-top: -43px;
z-index: 100;
width:15px;
height:15px;
 text-align: center;
	
}

.btn_agregarvarios{
border: 0;
outline: 0;
color: white;
height: 28px;
text-align: center;
background-color: #2A80B9;
margin: 0 auto;
display: block;
float: right;
}

.compra_semanal_fecha{
	
	text-align: center;
	font-size: 14px;
}

    #imagen_especial img{
        max-width: 100%;
    }
	
	.farmapfizer{
	width: 90%;
	height: 90%;
}

.botones_info_span{
	  margin-bottom:10px;
	
}

.product-item-3 .button-holder5  {
  width: 100%;
  height: 28px;
  text-align: center;
  background-color: #1893cc;
  /*8EA800*//*#e84c3d;*/
  margin: 0 auto;
  display: inline-block;
  margin-top: 20px; 
  margin-bottom:0px;
  margin-right: 5px;
  margin-left: 5px;
  /*float: right;*/
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
   font-size: 18px;
}
.product-item-3 .button-holder5 a {
  color: white;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 26px;
  font-size: 18px;
}


.promoespecial{
margin-bottom: 15px;

}


.fraganciadiv{
	width:160px;
	min-height: 250px;
	float:left;
	margin-left:5px;
	margin-right:5px;
	margin-top:10px;
	border-style: solid;
    border-width: 0px 0px 1px 0px;
	border-color: #dddddd;
}

.fraganciamarcadiv{
	width:125px;
	min-height: 50px;
	float:left;
	
	margin-right:5px;

	/*border-style: solid;
    border-width: 0px 0px 1px 0px;
	border-color: #dddddd;*/
}

.fraganciaimagen {
 width: 150px;
  float: left;
 height: 120px;
  overflow: hidden;
  
}
.fraganciacontenedor{
	float:left;
	min-height: 300px;
	width: 100%;
	height: 100%;
}

.fraganciaimagen img {
   max-width: 99%;
    max-height: 99%;
}

.fraganciamarcaimagen img {
 width: 125px;
  
}
.fraganciapresentaciondiv {
	
}
.fraganciapresentaciondiv input{
	width:20px;
	
}

.fraganciapresentaciondiv label{
	 display: none;
}

.fraganciapresentaciondiv .fragcant{
	width:20px;
	padding:0;
	font-size: 85%;
}

.fraganciapresentaciondiv .fragml{
	width:50px;
	padding-left: 5px;
	font-size: 85%;
	
}

.fraganciapresentaciondiv .fragpre{
  text-align: right;
  padding-right:5px;
  width:80px;
  font-size: 90%;
}
.fraganciapresentaciondiv .fragstock{
 
  padding-left:5px;
  width:15px;
  
}

.fragdescrip{
	width: 150px;
	height:40px;
	float: left;
	text-align: center;
	font-size : 12px;
}

.search-marca a:link:hover{
	color:black;
}

.search-marca a{
	padding-left:3px;
}

.search-genero a{
	padding-left:3px;
}

.product-content span.title {
  
  font-size: 14px;
  font-weight: 600;
}

.paginatorimport {
	height:150px;
	
}

.importconfirm3
{
	display: inline-block;
	float: right;
	width:210px;
	
}
#dialog-message img {
   max-width: 99%;
    max-height: 99%;
}

#dialog-message{
	 z-index:1000;
}

#dialog-message2{
	 z-index:2000;
}



.listadofc{
	float:left; 
		width: 100%;
		height: 25px;
		margin-top: 5px;
}
.listadofcspan{
	float:left; 
	width: 70%;
}
.listadofclink{
	float:left; 
	
}

.texto{
	text-align : justify;
}

.noticia{
	border-style: solid;
    border-width: 0px 0px 1px 0px;
	border-color: #dddddd;
	margin-bottom: 15px;
}
